.not-found {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-trash {
    color: red;
    padding-left: 10px;
    
 }
 .fa-eye{
  padding-right: 10px;
 }
 .fa-pen-to-square{
  color: green;
 }